1.Holiday planner -> Select all the itenary
2 List of hotels based on the date, book should be successful
(Two different places)
3.All the accomodation to be done
4.Single user( Another user will not book the same thing)

1. Asking clarity of requirments and removing ambiguity,
Check for ambiguity for edge cases, check the system requirements)
2. Identify the actors and entities which the system must require
3. Discussing the approach, how the entire flow looks like
4. Writing the code
5. Dry running the code
6. Writing testcases to verify if the code is working fine

1. Customer
2. Admin (can add new hotels, new tranports)
3. Vendor ( Transport manager, hotel manager)
4. Transport
5. Hotel
6. Planner
7. Rooms
8. Location
9. Booking
10. PaymentMode

//For each item (For chennai to bali) provide the details along with date ( start to end date and transport)
//For hotels( for 3 days) start date to end date)

Each itinerary will be displaying the details along with date, activities which will be performed at that time.





